<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Nie</string>
		<key>word</key>
		<string>Ñ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>o</string>
		<key>word</key>
		<string>O</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>p</string>
		<key>word</key>
		<string>P</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>q</string>
		<key>word</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>r</string>
		<key>word</key>
		<string>R</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Rr</string>
		<key>word</key>
		<string>Rr</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>s</string>
		<key>word</key>
		<string>S</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>t</string>
		<key>word</key>
		<string>T</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>u</string>
		<key>word</key>
		<string>U</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>v</string>
		<key>word</key>
		<string>V</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>w</string>
		<key>word</key>
		<string>W</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>x</string>
		<key>word</key>
		<string>X</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>y</string>
		<key>word</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>z</string>
		<key>word</key>
		<string>Z</string>
	</dict>
</array>
</plist>
