<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Abeja</string>
<key>word</key>
<string>Abeja</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Aguila</string>
<key>word</key>
<string>Aguila</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Arana</string>
<key>word</key>
<string>Araña</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ardilla</string>
<key>word</key>
<string>Ardilla</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Burro</string>
<key>word</key>
<string>Burro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Caballo</string>
<key>word</key>
<string>Caballo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cerdo</string>
<key>word</key>
<string>Cerdo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chango</string>
<key>word</key>
<string>Chango</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Conejo</string>
<key>word</key>
<string>Conejo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gato</string>
<key>word</key>
<string>Gato</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gorila</string>
<key>word</key>
<string>Gorila</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gusano</string>
<key>word</key>
<string>Gusano</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Jirafa</string>
<key>word</key>
<string>Jirafa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Leon</string>
<key>word</key>
<string>Leon</string>
</dict>
</array>
</plist>
