<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Verde</string>
<key>word</key>
<string>Verde</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Rojo</string>
<key>word</key>
<string>Rojo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Rosa</string>
<key>word</key>
<string>Rosa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Plata</string>
<key>word</key>
<string>Plata</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Oro</string>
<key>word</key>
<string>Oro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Negro</string>
<key>word</key>
<string>Negro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Naranja</string>
<key>word</key>
<string>Naranja</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Morado</string>
<key>word</key>
<string>Morado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gris</string>
<key>word</key>
<string>Gris</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cafe</string>
<key>word</key>
<string>Cafe</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Blanco</string>
<key>word</key>
<string>Blanco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Azul</string>
<key>word</key>
<string>Azul</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Amarillo</string>
<key>word</key>
<string>Amarillo</string>
</dict>
</array>
</plist>
