<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Aceite</string>
<key>word</key>
<string>Aceite</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Agua</string>
<key>word</key>
<string>Agua</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Arroz</string>
<key>word</key>
<string>Arroz</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Azucar</string>
<key>word</key>
<string>Azucar</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Coffee</string>
<key>word</key>
<string>Café</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Caldo</string>
<key>word</key>
<string>Caldo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Carne</string>
<key>word</key>
<string>Carne</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cerveza</string>
<key>word</key>
<string>Cerveza</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chile</string>
<key>word</key>
<string>Chile</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chocolate</string>
<key>word</key>
<string>Chocolate</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cocacola</string>
<key>word</key>
<string>Cocacola</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Dulce</string>
<key>word</key>
<string>Dulce</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ensalada</string>
<key>word</key>
<string>Ensalada</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Frijol</string>
<key>word</key>
<string>Frijol</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fruta</string>
<key>word</key>
<string>Fruta</string>
</dict>
</array>
</plist>
