<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Galleta</string>
<key>word</key>
<string>Galleta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hamburguesa</string>
<key>word</key>
<string>Hamburguesa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Huevo</string>
<key>word</key>
<string>Huevo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Leche</string>
<key>word</key>
<string>Leche</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pan</string>
<key>word</key>
<string>Pan</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pastel</string>
<key>word</key>
<string>Pastel</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pescado</string>
<key>word</key>
<string>Pescado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pizza</string>
<key>word</key>
<string>Pizza</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pollo</string>
<key>word</key>
<string>Pollo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Queso</string>
<key>word</key>
<string>Queso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Refresco</string>
<key>word</key>
<string>Refresco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Sopa</string>
<key>word</key>
<string>Sopa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Taco</string>
<key>word</key>
<string>Taco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tortilla</string>
<key>word</key>
<string>Tortilla</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Verdura</string>
<key>word</key>
<string>Verdura</string>
</dict>
</array>
</plist>
