<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Almendra</string>
<key>word</key>
<string>Almendra</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cereza</string>
<key>word</key>
<string>Cereza</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Coco</string>
<key>word</key>
<string>Coco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Durazno</string>
<key>word</key>
<string>Durazno</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fresa</string>
<key>word</key>
<string>Fresa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Guayaba</string>
<key>word</key>
<string>Guayaba</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Jamaica</string>
<key>word</key>
<string>Jamaica</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Jicama</string>
<key>word</key>
<string>Jicama</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Limon</string>
<key>word</key>
<string>Limon</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mango</string>
<key>word</key>
<string>Mango</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Manzana</string>
<key>word</key>
<string>Manzana</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Melon</string>
<key>word</key>
<string>Melon</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Naranja</string>
<key>word</key>
<string>Naranja</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Nuez</string>
<key>word</key>
<string>Nuez</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Papaya</string>
<key>word</key>
<string>Papaya</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pera</string>
<key>word</key>
<string>Pera</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pina</string>
<key>word</key>
<string>Pina</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Platano</string>
<key>word</key>
<string>Platano</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Sandia</string>
<key>word</key>
<string>Sandia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tamarindo</string>
<key>word</key>
<string>Tamarindo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Toronja</string>
<key>word</key>
<string>Toronja</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Uva</string>
<key>word</key>
<string>Uva</string>
</dict>
</array>
</plist>
