<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Abajo</string>
<key>word</key>
<string>Abajo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Aburrido</string>
<key>word</key>
<string>Aburrido</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Accidente</string>
<key>word</key>
<string>Accidente</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Adentro</string>
<key>word</key>
<string>Adentro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Afortunado</string>
<key>word</key>
<string>Afortunado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Alegredivertido</string>
<key>word</key>
<string>Alegre/divertido</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Algunos</string>
<key>word</key>
<string>Algunos</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Altoestatura</string>
<key>word</key>
<string>Alto (estatura)</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Amable</string>
<key>word</key>
<string>Amable</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Antes</string>
<key>word</key>
<string>Antes</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Arriba</string>
<key>word</key>
<string>Arriba</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Asustado</string>
<key>word</key>
<string>Asustado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Atencionatento</string>
<key>word</key>
<string>Atención/Atento</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Baboso</string>
<key>word</key>
<string>Baboso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Bonito</string>
<key>word</key>
<string>Bonito</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Broma</string>
<key>word</key>
<string>Broma</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Bueno</string>
<key>word</key>
<string>Bueno</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cada</string>
<key>word</key>
<string>Cada</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Caliente</string>
<key>word</key>
<string>Caliente</string>
</dict>
</array>
</plist>
