<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Jamas</string>
<key>word</key>
<string>Jamás</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Junta</string>
<key>word</key>
<string>Junta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Junto</string>
<key>word</key>
<string>Junto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Lejos</string>
<key>word</key>
<string>Lejos</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Libre</string>
<key>word</key>
<string>Libre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Loco</string>
<key>word</key>
<string>Loco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Lsm</string>
<key>word</key>
<string>Lsm</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Malo</string>
<key>word</key>
<string>Malo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mas</string>
<key>word</key>
<string>Más</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mejor</string>
<key>word</key>
<string>Mejor</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Miedo</string>
<key>word</key>
<string>Miedo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Necio</string>
<key>word</key>
<string>Necio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>No</string>
<key>word</key>
<string>No</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Nuevo</string>
<key>word</key>
<string>Nuevo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Nunca</string>
<key>word</key>
<string>Nunca</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ojala</string>
<key>word</key>
<string>Ojalá</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Paciencia</string>
<key>word</key>
<string>Paciencia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Peor</string>
<key>word</key>
<string>Peor</string>
</dict>
</array>
</plist>
