<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cansado</string>
<key>word</key>
<string>Cansado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Carino</string>
<key>word</key>
<string>Cariño</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Celoso</string>
<key>word</key>
<string>Celoso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chaparro</string>
<key>word</key>
<string>Chaparro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chistoso</string>
<key>word</key>
<string>Chistoso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cobarde</string>
<key>word</key>
<string>Cobarde</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Contento</string>
<key>word</key>
<string>Contento</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Curioso</string>
<key>word</key>
<string>Curioso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Debil</string>
<key>word</key>
<string>Débil</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Decente</string>
<key>word</key>
<string>Decente</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Delgado</string>
<key>word</key>
<string>Delgado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Despacio</string>
<key>word</key>
<string>Despacio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Diferente</string>
<key>word</key>
<string>Diferente</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Dificil</string>
<key>word</key>
<string>Difícil</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Diploma</string>
<key>word</key>
<string>Diploma</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Duda</string>
<key>word</key>
<string>Duda</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Egoista</string>
<key>word</key>
<string>Egoísta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ejemplo</string>
<key>word</key>
<string>Ejemplo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ejercicio</string>
<key>word</key>
<string>Ejercicio</string>
</dict>
</array>
</plist>
