<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Enojado</string>
<key>word</key>
<string>Enojado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Envidia</string>
<key>word</key>
<string>Envidia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Especial</string>
<key>word</key>
<string>Especial</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Facil</string>
<key>word</key>
<string>Fácil</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Falso</string>
<key>word</key>
<string>Falso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Feliz</string>
<key>word</key>
<string>Feliz</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Feo</string>
<key>word</key>
<string>Feo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Flojo</string>
<key>word</key>
<string>Flojo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fuerte</string>
<key>word</key>
<string>Fuerte</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fuerza</string>
<key>word</key>
<string>Fuerza</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gordo</string>
<key>word</key>
<string>Gordo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gratis</string>
<key>word</key>
<string>Gratis</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Grosero</string>
<key>word</key>
<string>Grosero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Guapo</string>
<key>word</key>
<string>Guapo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hambre</string>
<key>word</key>
<string>Hambre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Historia</string>
<key>word</key>
<string>Historia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Humilde</string>
<key>word</key>
<string>Humilde</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Importante</string>
<key>word</key>
<string>Importante</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Inteligente</string>
<key>word</key>
<string>Inteligente</string>
</dict>
</array>
</plist>
