<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pero</string>
<key>word</key>
<string>Pero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pobre</string>
<key>word</key>
<string>Pobre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Presumido</string>
<key>word</key>
<string>Presumido</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Problema</string>
<key>word</key>
<string>Problema</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Rapidopronto</string>
<key>word</key>
<string>Rapido/Pronto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Raro</string>
<key>word</key>
<string>Raro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Secreto</string>
<key>word</key>
<string>Secreto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Senaproipa</string>
<key>word</key>
<string>Seña propia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Senas</string>
<key>word</key>
<string>Señas</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Si</string>
<key>word</key>
<string>Sí</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Sucio</string>
<key>word</key>
<string>Sucio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Suerte</string>
<key>word</key>
<string>Suerte</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Todo</string>
<key>word</key>
<string>Todo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tonto</string>
<key>word</key>
<string>Tonto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Travieso</string>
<key>word</key>
<string>Travieso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Triste</string>
<key>word</key>
<string>Triste</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Verdad</string>
<key>word</key>
<string>Verdad</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Verguenza</string>
<key>word</key>
<string>Vergüenza</string>
</dict>
</array>
</plist>


