<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Licuadora</string>
<key>word</key>
<string>Licuadora</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Llave</string>
<key>word</key>
<string>Llave</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Luz</string>
<key>word</key>
<string>Luz</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mesa</string>
<key>word</key>
<string>Mesa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Plancha</string>
<key>word</key>
<string>Plancha</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Plato</string>
<key>word</key>
<string>Plato</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Puerta</string>
<key>word</key>
<string>Puerta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Silla</string>
<key>word</key>
<string>Silla</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Telefono</string>
<key>word</key>
<string>Telefono</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tenedor</string>
<key>word</key>
<string>Tenedor</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Vaso</string>
<key>word</key>
<string>Vaso</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ventana</string>
<key>word</key>
<string>Ventana</string>
</dict>
</array>
</plist>
