<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Antro</string>
<key>word</key>
<string>Antro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Banco</string>
<key>word</key>
<string>Banco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Calle</string>
<key>word</key>
<string>Calle</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cantina</string>
<key>word</key>
<string>Cantina</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Casa</string>
<key>word</key>
<string>Casa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Centro</string>
<key>word</key>
<string>Centro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cine</string>
<key>word</key>
<string>Cine</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ciudad</string>
<key>word</key>
<string>Ciudad</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Edificio</string>
<key>word</key>
<string>Edificio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Escuela</string>
<key>word</key>
<string>Escuela</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fabrica</string>
<key>word</key>
<string>Fabrica</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Feria</string>
<key>word</key>
<string>Feria</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fiesta</string>
<key>word</key>
<string>Fiesta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hotel</string>
<key>word</key>
<string>Hotel</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Iglesia</string>
<key>word</key>
<string>Iglesia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mercado</string>
<key>word</key>
<string>Mercado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Museo</string>
<key>word</key>
<string>Museo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Restaurante</string>
<key>word</key>
<string>Restaurante</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Teatro</string>
<key>word</key>
<string>Teatro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tienda</string>
<key>word</key>
<string>Tienda</string>
</dict>
</array>
</plist>
