<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Enero</string>
<key>word</key>
<string>Enero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Febrero</string>
<key>word</key>
<string>Febrero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Marzo</string>
<key>word</key>
<string>Marzo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Abril</string>
<key>word</key>
<string>Abril</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mayo</string>
<key>word</key>
<string>Mayo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Junio</string>
<key>word</key>
<string>Junio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Julio</string>
<key>word</key>
<string>Julio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Agosto</string>
<key>word</key>
<string>Agosto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Septiembre</string>
<key>word</key>
<string>Septiembre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Octubre</string>
<key>word</key>
<string>Octubre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Noviembre</string>
<key>word</key>
<string>Noviembre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Diciembre</string>
<key>word</key>
<string>Diciembre</string>
</dict>
</array>
</plist>
