<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>25</string>
            <key>word</key>
            <string>25</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>30</string>
            <key>word</key>
            <string>30</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>40</string>
            <key>word</key>
            <string>40</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>50</string>
            <key>word</key>
            <string>50</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>60</string>
            <key>word</key>
            <string>60</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>70</string>
            <key>word</key>
            <string>70</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>80</string>
            <key>word</key>
            <string>80</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>90</string>
            <key>word</key>
            <string>90</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>100</string>
            <key>word</key>
            <string>100</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>200</string>
            <key>word</key>
            <string>200</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>300</string>
            <key>word</key>
            <string>300</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>400</string>
            <key>word</key>
            <string>400</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>500</string>
            <key>word</key>
            <string>500</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>600</string>
            <key>word</key>
            <string>600</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>700</string>
            <key>word</key>
            <string>700</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>800</string>
            <key>word</key>
            <string>800</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>900</string>
            <key>word</key>
            <string>900</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>1000</string>
            <key>word</key>
            <string>1000</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>1000000</string>
            <key>word</key>
            <string>1000000</string>
        </dict>
    </array>
</plist>
