<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Abogado</string>
<key>word</key>
<string>Abogado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Actor</string>
<key>word</key>
<string>Actor</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Albanil</string>
<key>word</key>
<string>Albanil</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Alumno</string>
<key>word</key>
<string>Alumno</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Arquitecto</string>
<key>word</key>
<string>Arquitecto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Bombero</string>
<key>word</key>
<string>Bombero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Carpintero</string>
<key>word</key>
<string>Carpintero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Chofer</string>
<key>word</key>
<string>Chofer</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Dentista</string>
<key>word</key>
<string>Dentista</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Diputado</string>
<key>word</key>
<string>Diputado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Director</string>
<key>word</key>
<string>Director</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Enfermera</string>
<key>word</key>
<string>Enfermera</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Gobernador</string>
<key>word</key>
<string>Gobernador</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Guardia</string>
<key>word</key>
<string>Guardia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ingeniero</string>
<key>word</key>
<string>Ingeniero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Interprete</string>
<key>word</key>
<string>Interprete</string>
</dict>
</array>
</plist>
