<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Jefe</string>
<key>word</key>
<string>Jefe</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Licenciado</string>
<key>word</key>
<string>Licenciado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Lider</string>
<key>word</key>
<string>Lider</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Maestro</string>
<key>word</key>
<string>Maestro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mecanico</string>
<key>word</key>
<string>Mecanico</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Medico</string>
<key>word</key>
<string>Medico</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mesero</string>
<key>word</key>
<string>Mesero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Policia</string>
<key>word</key>
<string>Policia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Presidente</string>
<key>word</key>
<string>Presidente</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Profesor</string>
<key>word</key>
<string>Profesor</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Psicologo</string>
<key>word</key>
<string>Psicologo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Senador</string>
<key>word</key>
<string>Senador</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Soldado</string>
<key>word</key>
<string>Soldado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Taxista</string>
<key>word</key>
<string>Taxista</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tecnico</string>
<key>word</key>
<string>Tecnico</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Vendedor</string>
<key>word</key>
<string>Vendedor</string>
</dict>
</array>
</plist>
