<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Yo</string>
<key>word</key>
<string>Yo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tu</string>
<key>word</key>
<string>Tu</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>El</string>
<key>word</key>
<string>El</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ella</string>
<key>word</key>
<string>Ella</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Nosotros</string>
<key>word</key>
<string>Nosotros</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ustedes</string>
<key>word</key>
<string>Ustedes</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ellos</string>
<key>word</key>
<string>Ellos</string>
</dict>
</array>
</plist>
