<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Abrigo</string>
<key>word</key>
<string>Abrigo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Brasier</string>
<key>word</key>
<string>Brasier</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Bufanda</string>
<key>word</key>
<string>Bufanda</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Calzon</string>
<key>word</key>
<string>Calzon</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Camisa</string>
<key>word</key>
<string>Camisa</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Corbata</string>
<key>word</key>
<string>Corbata</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Falda</string>
<key>word</key>
<string>Falda</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Medias</string>
<key>word</key>
<string>Medias</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pantalon</string>
<key>word</key>
<string>Pantalon</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tenis</string>
<key>word</key>
<string>Tenis</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Vestido</string>
<key>word</key>
<string>Vestido</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Zapatos</string>
<key>word</key>
<string>Zapatos</string>
</dict>
</array>
</plist>
