<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Adios</string>
            <key>word</key>
            <string>Adios</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bien</string>
            <key>word</key>
            <string>Bien</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Buenasnoches</string>
            <key>word</key>
            <string>Buenas noches</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Buenastardes</string>
            <key>word</key>
            <string>Buenas tardes</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Buenosdias</string>
            <key>word</key>
            <string>Buenos días</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Comoestas</string>
            <key>word</key>
            <string>¿Cómo estás?</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Comotellamas</string>
            <key>word</key>
            <string>Como te llamas</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Denada</string>
            <key>word</key>
            <string>De nada</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Gracias</string>
            <key>word</key>
            <string>Gracias</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Gustodeconocerte</string>
            <key>word</key>
            <string>Gusto de conocerte</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hola</string>
            <key>word</key>
            <string>Hola</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Mal</string>
            <key>word</key>
            <string>Mal</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Masomenos</string>
            <key>word</key>
            <string>Masomenos</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nosvemos</string>
            <key>word</key>
            <string>Nosvemos</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Perdon</string>
            <key>word</key>
            <string>Perdon</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Porfavor</string>
            <key>word</key>
            <string>Porfavor</string>
        </dict>
    </array>
</plist>
