<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ahora</string>
<key>word</key>
<string>Ahora</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ahorita</string>
<key>word</key>
<string>Ahorita</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Aire</string>
<key>word</key>
<string>Aire</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Año</string>
<key>word</key>
<string>Año</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Antier</string>
<key>word</key>
<string>Antier</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Aveces</string>
<key>word</key>
<string>Aveces</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Ayer</string>
<key>word</key>
<string>Ayer</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Calendario</string>
<key>word</key>
<string>Calendario</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Calor</string>
<key>word</key>
<string>Calor</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cumpleaños</string>
<key>word</key>
<string>Cumpleaños</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Despues</string>
<key>word</key>
<string>Despues</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Dia</string>
<key>word</key>
<string>Dia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Edad</string>
<key>word</key>
<string>Edad</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Fecha</string>
<key>word</key>
<string>Fecha</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Frio</string>
<key>word</key>
<string>Frio</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Futuro</string>
<key>word</key>
<string>Futuro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hasta</string>
<key>word</key>
<string>Hasta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hora</string>
<key>word</key>
<string>Hora</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Hoy</string>
<key>word</key>
<string>Hoy</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Invierno</string>
<key>word</key>
<string>Invierno</string>
</dict>
</array>
</plist>
