<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Manana</string>
<key>word</key>
<string>Mañana</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mediodia</string>
<key>word</key>
<string>Mediodia</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mes</string>
<key>word</key>
<string>Mes</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Mientras</string>
<key>word</key>
<string>Mientras</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Minuto</string>
<key>word</key>
<string>Minuto</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Noche</string>
<key>word</key>
<string>Noche</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Otono</string>
<key>word</key>
<string>Otoño</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Otravez</string>
<key>word</key>
<string>Otra vez</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Otro</string>
<key>word</key>
<string>Otro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Pasado</string>
<key>word</key>
<string>Pasado</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Presente</string>
<key>word</key>
<string>Presente</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Primavera</string>
<key>word</key>
<string>Primavera</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Primeravez</string>
<key>word</key>
<string>Primera vez</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Proximo</string>
<key>word</key>
<string>Proximo</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Semana</string>
<key>word</key>
<string>Semana</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Siempre</string>
<key>word</key>
<string>Siempre</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tarde</string>
<key>word</key>
<string>Tarde</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Temprano</string>
<key>word</key>
<string>Temprano</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Unavez</string>
<key>word</key>
<string>Una vez</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Verano</string>
<key>word</key>
<string>Verano</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Viento</string>
<key>word</key>
<string>Viento</string>
</dict>
</array>
</plist>
