<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Avion</string>
<key>word</key>
<string>Avion</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Barco</string>
<key>word</key>
<string>Barco</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Bicicleta</string>
<key>word</key>
<string>Bicicleta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Camion</string>
<key>word</key>
<string>Camion</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Carro</string>
<key>word</key>
<string>Carro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Cdeautobuses</string>
<key>word</key>
<string>Cdeautobuses</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Helicoptero</string>
<key>word</key>
<string>Helicoptero</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Metro</string>
<key>word</key>
<string>Metro</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Motocicleta</string>
<key>word</key>
<string>Motocicleta</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Taxi</string>
<key>word</key>
<string>Taxi</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Transporte</string>
<key>word</key>
<string>Transporte</string>
</dict>
<dict>
<key>type</key>
<string>vid</string>
<key>fileName</key>
<string>Tren</string>
<key>word</key>
<string>Tren</string>
</dict>
</array>
</plist>
