<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Aguacate</string>
		<key>word</key>
		<string>Aguacate</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Ajo</string>
		<key>word</key>
		<string>Ajo</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Betabel</string>
		<key>word</key>
		<string>Betabel</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Calabacita</string>
		<key>word</key>
		<string>Calabacita</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Calabaza</string>
		<key>word</key>
		<string>Calabaza</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Camote</string>
		<key>word</key>
		<string>Camote</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Cebolla</string>
		<key>word</key>
		<string>Cebolla</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Chicharo</string>
		<key>word</key>
		<string>Chicharo</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Chile</string>
		<key>word</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Elote</string>
		<key>word</key>
		<string>Elote</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Frijol</string>
		<key>word</key>
		<string>Frijol</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Hongo</string>
		<key>word</key>
		<string>Hongo</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Jitomate</string>
		<key>word</key>
		<string>Jitomate</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Lechuga</string>
		<key>word</key>
		<string>Lechuga</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Nopal</string>
		<key>word</key>
		<string>Nopal</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>PapaVerdura</string>
		<key>word</key>
		<string>Papa</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Pepino</string>
		<key>word</key>
		<string>Pepino</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>Zanahoria</string>
		<key>word</key>
		<string>Zanahoria</string>
	</dict>
</array>
</plist>
